<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{POST_TITLE} - {TITLE}</title>
    {CSS}
    {FAVICON}
    <meta name="author" content="{AUTHOR}">
    <meta name="keywords" content="{KEYWORDS}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>{TITLE}</h1>
    <p>{DESCRIPTION}</p>

    <h3>{POST_TITLE}</h3>
    <h5>Dodano {POST_ADDED} przez {POST_AUTHOR}</h5>
    <p>{POST_CONTENT}</p>
    <p>{POST_VIEWS}</p>
</body>
{JS}
</html>